body {
    font-family: 'Baloo Bhai 2', 'cursive';
    color: rgb(253, 242, 242);
    margin: 0px;
    padding: 0px;
}
body:after{ 
    background: url('../img/homeimg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    margin: 0px;
    padding: 0px;
    z-index: -1;
    opacity: 0.95;
}
.left {
    /* border: 2px solid rgb(99, 229, 99); */
    display: inline-block;
    width: auto;
    position: absolute;
    left: 40px;
    top: 20px;
}

.btn-logo {
    font-family: 'Baloo Bhai 2';
    color: rgb(251, 251, 251);
    cursor: pointer;
    margin:none;
    border: none;
    background-color: transparent;

}
.left img {
    display: block;
    width: 100px;
    filter: invert(100%);
    margin: auto;
    
}
.name {
    background-color: transparent;
    text-align: center;
    margin: 0px;
    border:0px;
    font-size: 20px;
}
.mid {
    display: block;
    /* border: 2px solid rgb(255, 255, 13); */
    width: fit-content;
    margin: 15px auto;
    text-align: center;
}
.navbar {
    margin: auto;
    /* border:1px solid red; */
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    font-weight: bold;
    /* border: 2px solid green; */
}
.navbar li a{
    font-size: 18px;
    color: white;
    padding: 34px 10px;
    text-decoration: none;
    text-shadow: -5px -5px 5px rgb(113, 113, 113);
}
.navbar li a:hover, .navbar li .active {
    text-decoration: underline;
    color: rgb(176, 174, 174);
    
}
.right {
    /* border: 2px solid rgb(89, 214, 255); */
    display: inline-block;
    width: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}
.btn{
    font-family: 'Baloo Bhai 2';
    cursor: pointer;
    margin: 5px 2px;
    padding: 5px;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    background-color: azure;
}
.btn:hover {
    background-color: rgb(227, 226, 224);
}
.btn a, .btn a:visited{
    color: black;
    text-decoration: none;
}

.container {
    position: absolute;
    left: 200px;
    top: 100px;
    display: block;
    text-align: center;
    padding: 50px 70px;
    border: 2px solid white;
    box-shadow: 1px 1px 20px 7px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 70px 50px;
    /* opacity: 0.5; */
}
.container h3 {
    margin: 10px auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    text-shadow: -5px 5px 30px rgb(241, 239, 239);
    
}
.form-group input {
    text-align: center;
    border: 1px solid black;
    margin: 6px auto;
    border-radius: 5px;
    width: 400px;
    font-size: 20px;
}
.container button{
    border: 2px solid rgb(213, 245, 255);
    border-radius: 5px;
    width: 400px;
    font-size: 15px;
    margin: 20px;

}